# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# VSCode or IDE config
.vscode/
.idea/

# Django migrations
**/migrations/
!*/migrations/__init__.py  # Keep the init file

# Secret config
.env
*.env

# Database (if using SQLite for dev)
db.sqlite3

# Logs and temp
*.log
*.pot
*.pyc
*.swp
*.tmp

# Static/media files generated at runtime
staticfiles/
media/

# Compiled translation files
*.mo

# MacOS and Windows system files
.DS_Store
Thumbs.db
